.task {
  margin: 7px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.taskButton {
  width: 100%;
  padding: 7px;
  cursor: pointer;
}

.taskCreatorButton {
  margin: 5px;
  padding: 10px;
  color: #172b4d;
  background-color: #c0baba;
  min-height: 38px;
  max-height: 38px;
  border-radius: 5px;
  cursor: pointer;
}

.taskCreatorButton:hover {
  background-color: #aca6a6;
}

.taskCreator {
  padding: 8px;
  color: #172b4d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  white-space: normal;
  border-radius: 3px;
  position: relative;
  text-decoration: none;
}

.taskName {
  padding: 5px;
  width: 100%;
  height: 60px;
  color: #172b4d;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
}

.taskCreator_add {
  color: #172b4d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  white-space: nowrap;
  height: 32px;
  overflow: hidden;
  margin: 4px 0 0;

  .taskCreator_add_submit {
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    min-height: 32px;
    height: 32px;
    margin: 0 4px 0 0;
    padding: 4px 25px;
    background-color: #5aac44;
    box-shadow: none;
    border: none;
    color: #fff;
  }

  .taskCreator_add_cancel {
    cursor: pointer;
    margin-left: 10px;
    font-size: 22px;
  }
}

.taskDeleter {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

.taskTitleInput_1 {
  padding: 5px;
  width: 100%;
  color: black;
  background: transparent;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.taskTitleInput_2 {
  padding: 5px;
  width: 100%;
  font-size: 18px;
  cursor: default;
  border: 1px solid #0079bf;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.taskDeleter:hover {
  background-color: #cd1238;
}

.taskPopOverWrapper {
  align-items: flex-start;
  background-color: rgba(0,0,0,.64);
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  overflow-x: hidden;
  display: flex;
}

.card {
  background-color: #f4f5f7;
  border-radius: 2px;
  min-height: 600px;
  margin: 48px 0 80px;
  overflow: hidden;
  position: relative;
  width: 768px;
  z-index: 25;
  display: block;
}

.cardClose {
  padding: 4px;
  margin: 4px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  line-height: 32px;
  font-size: 25px;
  color: #42526e;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

.cardHeader {
  margin: 12px 40px 8px 56px;
  min-height: 32px;
  position: relative;
  z-index: 1;
  border: none;
  background: transparent;
}

.cardSidebar {
  color: #172b4d;
  float: right;
  padding: 0 16px 8px 8px;
  width: 168px;
  overflow: hidden;
  z-index: 10;
}

.cardSidebar_item {
  color: #172b4d;
  background-color: rgba(9,30,66,.04);
  box-shadow: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 32px;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

.taskLabels {
  padding: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9,30,66,.25),0 0 0 1px rgba(9,30,66,.08);
  overflow: hidden;
  position: absolute;
  right: -9999px;
  width: 204px;
  z-index: 70;
  display: block;
  left: 563px;
  top: 94.6px;
}

.taskLabelsHeader {
  padding:  5px 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  height: 40px;
  position: relative;
  margin-bottom: 8px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.taskLabelsHeader>span {
  width: 100%;
}

.taskLabelsClose {
  cursor: pointer;
}

.taskLabelsList {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 0 0 8px;
}

.taskLabelsList_item {
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  color: #fff;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  background-color: #61bd4f;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
  min-height: 20px;
  padding: 6px 12px;
  position: relative;
  transition: padding 85ms,margin 85ms,box-shadow 85ms;
  box-shadow: -8px 0 #519839;
  margin: 0 0 4px 4px;
}

.labelColor {
  border-radius: 4px;
  color: #fff;
  display: block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  float: left;
  height: 32px;
  margin: 0 8px 8px 0;
  padding: 0;
  width: 48px;
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}
